/* font-family: 'Spicy Rice', cursive;
font-family: 'Passion One', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Erica One', cursive;
font-family: 'Miltonian Tattoo', cursive;
font-family: 'Barrio', cursive; */
.card {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 50px;
}

h5 {
    font-family: 'Fontdiner Swanky', cursive;
}

button {
    font-family: 'Fontdiner Swanky', cursive;
}

h6 {
    font-family: 'Fontdiner Swanky', cursive;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    font-size: 55px;
}

.card-header {
    font-family: 'Fontdiner Swanky', cursive;
}

#round-update {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 30px;
}

header {
    padding: 30px;
    text-align: center;
}

i {
    font-size: 50px;
}

#vstag {
    font-size: 60px;
}

#buttonGroup1 {
    text-align: center;
}

#buttonGroup2 {
    text-align: center;
}

#chatArea {
    max-width: 100%;
    overflow: auto;
    resize: none;
    max-height: 75px;
}

#player1name {
    text-transform: uppercase;
}

#player2name {
    text-transform: uppercase;
}

#main-update {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 25px;
}

.player1stats {
    font-family: 'Fontdiner Swanky', cursive;
    float: center;
    text-align: center;
}

#notifyMain {
    font-size: 25px;
}

.player2stats {
    font-family: 'Fontdiner Swanky', cursive;
    float: center;
    text-align: center;
}